{
  "openapi": "3.1.0",
  "info": {
    "title": "decoindex",
    "description": "Agent-readable mirror of brand storefronts. Resolves a merchant's own catalog on demand and returns normalized product facts — price, variants, composition, availability, as last observed.",
    "version": "1.0.0"
  },
  "servers": [{ "url": "https://decoindex.com" }],
  "paths": {
    "/{domain}/search.json": {
      "get": {
        "operationId": "searchStorefront",
        "summary": "Search one merchant's catalog",
        "description": "Search a merchant's catalog live against its own search endpoint — synchronous, no queue. Each hit has full product detail (variants, price, availability, claims). sort=price_asc orders the whole result, not just the page — use it for cheapest-first. Non-200: reason is in the body.",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Registrable domain only — no scheme, no www, no path. Example: farmrio.com.br"
          },
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "Search query, any language."
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["price_asc", "price_desc", "name_asc", "name_desc", "discount", "new"]
            },
            "description": "Orders the whole result set, not just the page returned."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "minimum": 1 },
            "description": "1-based. Defaults to the first page."
          }
        ],
        "responses": {
          "200": {
            "description": "Search results with full product detail.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "shop": {
                      "type": "object",
                      "properties": {
                        "domain": { "type": "string" },
                        "platform": { "type": "string" },
                        "currency": { "type": "string" }
                      }
                    },
                    "total": { "type": "integer" },
                    "query": { "type": "string" },
                    "products": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "string" },
                          "slug": { "type": "string" },
                          "title": { "type": "string" },
                          "brand": { "type": "string" },
                          "description": { "type": "string" },
                          "images": { "type": "array", "items": { "type": "string" } },
                          "variants": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "priceMinor": { "type": "integer", "description": "Price in cents, as last observed." },
                                "currency": { "type": "string" },
                                "available": { "type": "boolean" },
                                "attributes": { "type": "object" }
                              }
                            }
                          },
                          "claims": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "predicate": { "type": "string" },
                                "value": { "type": "string" }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
