{
  "openapi": "3.1.0",
  "info": {
    "title": "decoindex",
    "description": "Agent-readable mirror of brand storefronts. Resolves a merchant's own catalog on demand and returns normalized product facts — price, variants, composition, availability, as last observed.",
    "version": "1.0.0"
  },
  "servers": [{ "url": "https://decoindex.com" }],
  "paths": {
    "/{domain}/search": {
      "get": {
        "operationId": "searchStorefront",
        "summary": "Search one merchant's catalog",
        "description": "Search a merchant's catalog live, synchronous, no queue. Returns a compact Markdown table (title, price, stock, detail link per hit) — small on purpose, so call getProduct with a hit's path for full facts. sort=price_asc orders the whole result, not just the page.",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Registrable domain only — no scheme, no www, no path. Example: farmrio.com.br"
          },
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "Search query, any language."
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["price_asc", "price_desc", "name_asc", "name_desc", "discount", "new"]
            },
            "description": "Orders the whole result set, not just the page returned."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "minimum": 1 },
            "description": "1-based. Defaults to the first page."
          }
        ],
        "responses": {
          "200": {
            "description": "Markdown table of hits, one row per product, with a Details link per row (e.g. https://decoindex.com/{domain}{path}) — pass that link's path portion to getProduct for full detail.",
            "content": { "text/plain": { "schema": { "type": "string" } } }
          }
        }
      }
    },
    "/{domain}/{path}.json": {
      "get": {
        "operationId": "getProduct",
        "summary": "Full detail for one product already found by search",
        "description": "Fetch everything indexed about one product: variants, current price, availability, composition and other claims. Use the path from a searchStorefront hit's Details link, not a raw merchant URL.",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Registrable domain only — no scheme, no www, no path. Example: farmrio.com.br"
          },
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Everything after the domain in a search hit's Details link, without the leading slash or trailing .json, e.g. vestido-longo-alca-estampado/p"
          }
        ],
        "responses": {
          "200": {
            "description": "Full product detail.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "shop": {
                      "type": "object",
                      "properties": {
                        "domain": { "type": "string" },
                        "platform": { "type": "string" },
                        "currency": { "type": "string" }
                      }
                    },
                    "product": {
                      "type": "object",
                      "properties": {
                        "title": { "type": "string" },
                        "brand": { "type": "string" },
                        "description": { "type": "string" },
                        "categories": { "type": "array", "items": { "type": "string" } },
                        "images": { "type": "array", "items": { "type": "string" } },
                        "variants": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "skuId": { "type": "string" },
                              "priceMinor": { "type": "integer", "description": "Price in cents, as last observed." },
                              "currency": { "type": "string" },
                              "available": { "type": "boolean" },
                              "attributes": { "type": "object" },
                              "cartUrl": { "type": "string" }
                            }
                          }
                        },
                        "claims": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "predicate": { "type": "string" },
                              "value": { "type": "string" }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
